a.header-style {
    color: #10b981 !important;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial
}

a.text-style {
    color: #476582 !important;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial
}

ul {
    list-style-type: none;
    padding: 0;
}

.api-group {
    background-color: #f6f6f7;
    color: white;
    height: auto;
    padding-left: 1rem;
    text-size-adjust: 100%;
}

.api-groups {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-gap: 1rem;
}
