name: clang-format-lint

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.14
      with:
        source: '.'
        exclude: './externals'
        extensions: 'h,cpp'
        clangFormatVersion: 15
        
