name: g++

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: ci-ubuntu-24.04-gcc-${{ matrix.gcc_version }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        gcc_version:
          - 13
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Configure CMake
        run: |
          cmake -S . --preset=unixlike-gcc-debug \
            -DCMAKE_C_COMPILER=gcc-${{ matrix.gcc_version }} \
            -DCMAKE_CXX_COMPILER=g++-${{ matrix.gcc_version }} \
            -DBUILD_TESTING:BOOL=ON

      - name: Build
        run: cmake --build --preset=unixlike-gcc-debug

      - name: Test
        run: ctest --preset=unixlike-gcc-debug
