name: clang++

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: ci-ubuntu-24.04-clang-18
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Conan packages
        id: cache-conan
        uses: actions/cache@v3
        env:
          cache-name: cache-conan-packages
        with:
          path: ~/.conan2
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('conanfile.txt') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Configure python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Python dependencies
        run: pip install -r .github/requirements.txt

      - name: Configure Conan profiles
        run: |
          CC=clang-18 \
          CXX=clang++-18 \
          conan profile detect --force --name clang-18

      - name: Install Conan dependencies
        run: |
          conan install conanfile.txt \
            -r conancenter \
            -pr:b clang-18 \
            -pr:h clang-18 \
            -s compiler.cppstd=20 \
            -s build_type=Debug \
            -o "*:shared=True" --build=missing

      - name: Configure CMake
        run: |
          cmake -S ${{github.workspace}} --preset=unixlike-clang-debug \
            -DCMAKE_C_COMPILER=/usr/bin/clang-18 \
            -DCMAKE_CXX_COMPILER=/usr/bin/clang++-18 \
            -DCODE_COVERAGE:BOOL=ON \
            -DBUILD_TESTING:BOOL=ON \
            -DUSE_SYSTEM_DEPENDENCIES:BOOL=ON \
            -DUSE_STD_FORMAT:BOOL=ON \
            -DCMAKE_TOOLCHAIN_FILE=build/Debug/generators/conan_toolchain.cmake \
            -DCMAKE_EXE_LINKER_FLAGS=-fuse-ld=gold

      - name: Build
        run: cmake --build --preset=unixlike-clang-debug

      - name: Test
        run: ctest --preset=unixlike-clang-debug

      - name: Generate code coverage
        working-directory: ${{github.workspace}}/build/unixlike-clang-debug
        run: |
          ninja faker-ccov-all \
          && llvm-cov-18 show `cat ccov/binaries.list` -instr-profile=ccov/all-merged.profdata > coverage.txt

      - name: Codecov
        uses: codecov/codecov-action@v3.1.4
        with:
          token: ${{ secrets.CODECOVTOKEN }}
