name: gcc12

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: ci-ubuntu-24.04-gcc-12
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Configure CMake
        run: |
          cmake -S . --preset=unixlike-gcc-release \
            -DCMAKE_C_COMPILER=gcc-12 \
            -DCMAKE_CXX_COMPILER=g++-12 \
            -DBUILD_TESTING:BOOL=OFF

      - name: Build
        continue-on-error: true
        run: cmake --build --preset=unixlike-gcc-release --parallel 1
